@charset "UTF-8";
/* PLAYBROUD-2025 CSS (Initial Setup)
---------------------------------
/* 
CSS TABLE OF CONTENTS

# BASIC CSS FROM PARTIALS

# GLOBAL STYLES
    # GLOBAL VARIABLES
    # GLOBAL RESET
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA
    # GLOBAL HELPERS

# LAYOUT & GRID SYSTEM (=====> @import)
    # MEDIA QUERIES / BREAKPOINTS (RESPONSIVE TYPOGRAPHY)
    # CONTAINER
    # GRID

# SITE STRUCTURE
    # HEADER
        # LOGO
        # SITE NAV
            # TOGGLE MENU
                # NAVICON / HAMBURGER
        # SITE-HEADER-ON-TOP-OF-HERO
    # MAIN
        # SECTIONS
            # HERO
    # FOOTER

# UI COMPONENTS (=====> @import)
    # BUTTONS

# ANIMATION
    # SMOOTH SCROLLING

# CUSTOM STYLING

--------------------------------- */

/* GLOBAL SETTINGS ---------- */ 
/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0;}

/* GLOBAL COLORS */
html {
    --my-white: rgb(235 235 235  /1);
    --my-white10: rgb(225 225 225  /.1);
    --my-magenta: rgb(252 15 192 /1);
    --my-green: rgb(0 255 0 /1);
    --my-green80: rgba(128 255 128 /.8);
    --my-black: rgb(10 10 10 /.8);
    --my-black20: rgb(10 10 10 /.2);
    --my-black30: rgb(10 10 10 /.3);
    --my-black60: rgb(10 10 10 /.6);
}
body { 
    background-color: var(--my-white);
    /* background-color:rgb(177, 177, 177); */
}

/* TYPOGRAPHY ------------------ */ 
/* Reference -------------------
    62.5%   => 10px 
    68.2%   => 11px
    75%     => 12px
    81.3%   => 13px
    87.5%   => 14px
    100%    => 16px / 1em
    112.5%  => 18px
    125%    => 20px

   Traditional Typographic Scale (48, 36, 24, 21, 18, 16)
--------------------------------- */

body {
	font-family: 'karla', sans-serif;
	font-size: 88.75%;  /* 14pt */
	line-height: 1.4; 
	color: var(--my-black);
}

 h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
 }

 h1, h2 {
    font-family: 'pp_editorial_oldregular', Georgia, serif;
    margin: .5em 0;
}

h3 {
    font-family: 'pp_editorial_olditalic', Georgia, serif;
    margin: .5em 0;
}

h4, h5, h6 {
    font-family: 'Karla', sans-serif; 
    margin: .5em 0;
    font-weight: 600;
}

dt {
    font-family: 'ppeditorialold-ultrabolditalic', Georgia, serif;
/* QUESTIONO: why is not working */
}

h1 {
    /* 36px / 16px = 2.25em */
    font-size: 2.25em;
    line-height: 1.1;
}

h2 {
    /* 24px / 16px = 1.5em */
    font-size: 1.5em;
    line-height: 1.2;
}

h3 {
    /* 21px / 16px = 1.3125em */
    font-size: 1.3125em;
    line-height: 1.3;
}

h4 {
    /* 18px / 16px = 1.125em */
    font-size: 1.125em;
    line-height: 1.4;
}

h5 {
    /* 16px / 16px = 1em */
    font-size: 1em;
    line-height: 1.5;
}

h6 {
    /* 14px / 16px = 1em */
    font-size: 0.875em;
    line-height: 1.4;
} 

p {
    /* 12px */
    font-size: 0.75em;
    /* QUESTION: font weight seems not working, why?? and why is the list outside the margin??? */
    font-weight: 200;
    margin: 1em 0;
    padding: 0;
    max-width: 38em;
}

dt {
    color: var(--my-black30)
}

dt, dd {
    /* 12px */
    font-size: 0.75em;
    max-width: 38em;
}

dd {
    padding: 0, 0, 0 -10em;
}

/* LINKS */
a {
    text-decoration: none;
    color: var(--my-black);
}

a:hover {
    color: var(--my-green);
}

/* BLOCK QUOTES */
blockquote {
    font-size: 1.142em;
    margin: 1.5em 0;
    padding: 1.5em;
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
}

blockquote cite {
    display: block;
    opacity: 0.8;
    font-size: 0.875em;
}

blockquote cite:before {
    content: "—";
    margin-right: 0.25em;
}

/* GLOBAL HELPER CLASSES */
/* .text-center {
    text-align: center;
} */

.full-width {
    max-width: none;
    width: 100%;
}

/* .horiz-center {
    margin-left: auto;
    margin-right: auto;
} */

/* ----------------------------------------------- */
/* LAUOUT & GRID  */
/* ----------------------------------------------- */

/* MEDIA QUERIES */
/* phone -> tablet -> laptop -> desktop */
@media ( min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
    body {
        font-size: 100%;
    }
}

@media ( min-width: 1050px) {
    body {
        font-size: 100%;    /* 16px */
    }
}

@media ( min-width: 1250px) {
    body {
        font-size: 112.5%;  /* 18px */
    }
    .container {
        max-width: 1200px;
    }
    .container-thumbgrid {
        max-width: 90vw;
    }
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT ---------- */ 
/* CONTAINER */
.container {
    margin: 0 auto;
    padding: 2% 0.5%;
}

.container-thumbgrid {
    margin: 0 auto;
    padding: 2% 4%;
}

.container-img {
    margin: 0;
    padding: 2%;
    text-align: center;
}

/* GRID SYSTEM */
.row {
    --gridgap: 4%;
    --gridgap-half: calc( var(--gridgap) / 2);
    padding-bottom: var(--gridgap);
  }
  
  @media (min-width: 768px) {
    .row {
      display: flex;
      justify-content: space-between;
      gap: var(--gridgap);
      padding: 0;
      margin: var(--gridgap) 0;
    }
  
    .row > * {
      flex-grow: 1;
    }
  
    .row.swap {
      flex-direction: row-reverse;
    }
  
    .row .one-half { max-width: calc( 50% - var(--gridgap-half) ); }
    .row .one-third { max-width: calc( 33.3333% - var(--gridgap-half) ); }
    .row .two-thirds { max-width: calc( 66.6666% - var(--gridgap-half) ); }
    
}

.textblock {
    margin: 0 0 3em 0;
}

.textblock a:hover {
    color: var(--my-green);
    text-decoration: none;
}

/* PLACE SITE-ID LEFT AND NAV RIGHT ON LARGER SCREENS */
@media (min-width: 768px) {
    .site-header .container {
        /* by default, this is display: box; and since this is inside container, I just need to tell it the following: */
        justify-content: space-around;
    }
}

/* ----------------------------------------------- */
/* UI COMPONENTS */
/* ----------------------------------------------- */

/* BUTTONS */
.link-button {
    background-color: var(--my-black60);
    border-radius: 2px;
    color: var(--my-white);
    padding: 0.25em 1em;
}

.link-button:hover {
    background-color: var(--my-green);
    color: var(--my-black);
}

/* ----------------------------------------------- */
/* SITE STRUCTURE  */
/* ----------------------------------------------- */

/* SITE HEADER & FOOTER */
.site-header {
    padding: 1em 0 1em 0;
}

.site-footer {
    padding: 6em 0 1em 0;
}
/* SITE ID */
.site-header a {
    color: var(--my-black);
}

.site-footer a {
    color: var(--my-white);
}

.site-header a:hover,
.site-footer a:hover {
    color: var(--my-green);
    text-decoration: none;
}

.site-header,
.site-footer {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.site-footer {
    height: 80vh;
    margin-top: -90px;
    background-color: black;
    color: var(--my-white);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.row.footer {
    margin-bottom: 8em;
}

.social-links {
    letter-spacing: 2px;
}

/* ID AREA */
.site-id {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* SITE NAV */ 
.site-nav {
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.site-nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav a {
    padding: 1em;   
}

/* SOCIAL NAV */ 
.site-nav .menu-button {
    display: none;
}

/* SECTIONS */
.hero-home,
.about-section {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12em 0 12em 0;
}

/* HOME */
.solid-view {
    /* background-color:rgb(177, 177, 177); */
    border: 2px solid blue;
    /* background-image:
    radial-gradient(at 63% 84%, rgb(124 124 124 /1) 0px, transparent 50%),
    radial-gradient(at 73% 34%, rgb(102, 90, 128) 0px, transparent 50%),
    radial-gradient(at 47% 7%, rgb(119 137 137 /1) 0px, transparent 50%),
    radial-gradient(at 81% 65%, rgb(139, 122, 106) 0px, transparent 50%),
    radial-gradient(at 0% 40%, var(--my-green) 0px, transparent 50%),
    radial-gradient(at 22% 59%, var(--my-magenta) 0px, transparent 50%);
    background-size: 300% 300%;
    animation: gradient 8s ease infinite; */
}

.solid-view,
.solid-view-sub {
    background-attachment: fixed;     /* this might not work on mobile */
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.parallax-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    padding: 0;
    margin: 0;
    text-align: left;
    color: var(--my-black);
    animation-name: fadein-up;
    animation-duration: 2s;
}

@keyframes fadein-up {
    0%    { opacity: 0;
            transform: translateY(1em);}
    /* 10%   { opacity: 0;} */
    100% { opacity: 1;}
}

.hero-home .row {
    width: 85%;
}

.hero-home .eyebrow-hero {
    font-size: 1vw;
    color: var(--my-white);
    margin: 1em 0 0.5em 0;
}

.hero-home .title-home {
    /* font-size: clamp(4em, 8vw, 8vw); */
    font-size: 8vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.hero-home .hero-title h3 {
    font-size: 1.8vw;
}

.title-sub {
    font-size: 6em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 .5em 0;
}

.hero-home .hero-title p {
    /* font-size: 1em; */
    /* font-size: clamp(12px, 1.5vw, 1.5vw ); */
    font-size: 1.5vw;
    line-height: 1.9vw;
    /* font-weight: 200; */
    margin-bottom: 2.2vw;
    margin-top: 0.9vw;
    /* margin-left: auto;
    margin-right: auto; */
}

.hero-home .hero-title p span {
    font-family: 'ppeditorialold-italic', Georgia, serif;
    font-style: italic;
}

@media (max-width: 767px) {
    
    .hero-home .eyebrow-hero {
        font-size: 1em;
    }

    .hero-home .title-home {
        font-size: 6em;
    }

    .hero-home .hero-title h3 {
        font-size: 1.3125em;
    }
    .hero-home .hero-title p {
        font-size: 1em;
        line-height: 1.4;
        margin-top: 1em;
        margin-bottom: 1em;
   }
}

@media (min-width: 768px) {
    /* .works-index {
        min-height: 100vh;
        width: 100vw;
        padding: 6em 0 6em 0;
    } */
}

/* THUMBGRID */
.thumbgrid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumbgrid li {
    list-style: none;
    /* width: 49.5%; */
    padding-bottom: 0.8%;
    margin-bottom: 2.5%;
}

@media (min-width: 768px) {
    .thumbgrid li {
        /* width: 32.75%;        three cards row */
        width: 49.5%;         /* two cards row */
        /* width: 45%;        two cards row */
    }
}

.thumbgrid-card {
    /* border: 1px solid blue; */
    border-radius: 2.5%;
    filter: brightness(.9);
    overflow: hidden;
    /* box-shadow: 0 4px 8px 0 var(--my-black20); */
    transition: 0.3s;
    /* margin: 30px auto;  */
    /* width: 300px;
    height: 600px; */
    object-fit: cover;
    cursor: pointer;
    /* position: relative; */
}

.thumbgrid a img {
    /* border: 1px solid red; */
    display: grid;
    transition: all ease-in-out 0.2s;
    border: 1px solid rgb(255, 255, 255 /0);
    /* max-height: 100%; */
    width: 100%;
    /* filter: brightness(.9); */
}

.thumbgrid-card:hover {
    box-shadow: 0 0 24px 0 var(--my-black60);
}

.thumbgrid a:hover img {
    filter: brightness(1.05);
    border: 1px solid rgb(0, 0, 0 /.3);
    transform: scale(1.05, 1.05);
}

/* CUSTOM CSS FOR ABOUT SECTION */
.about {
    animation: fadeandscaleIn 0.4s ease-out forwards;
}

@keyframes fadeandscaleIn {
    0% {
      transform: scale(0.97) translateY(-5px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

.about a {
    color: var(--my-black);
}

.column.two-thirds.about,
.column.one-third.about {
    text-align: left;
    margin: 0;
}

.headline {
    text-transform: uppercase;
    max-width: 12ch;
    margin: 0;
    font-size: 4em;
}

.subhead {
    max-width: 28ch;
    margin-bottom: 1em;
}

.eyebrow,
.eyebrow-hero {
    text-transform: uppercase;
    margin-bottom: 0;
    color: var(--my-white);
}

.history {
    margin: 0;
    padding: 0;
}

.p-about {
    font-size: 1.5em;
    letter-spacing: 0px;
    line-height: 1.3;
    margin-bottom: 1em;
}

/* SCROLL TRIGGERED ANIMATION
 * corresponding with JS
 */

 .observe-me {
    opacity: 0;
    transition: all .75s ease-out 0.5s;

    &[data-viewstate="active"] {
        opacity: 1;
    }
}
.animate-from-bottom {
    translate: 0 400px;
    transition-delay: .5s;

    &[data-viewstate="active"] {
        translate: 0 0;
    }
}


/* CUSTOM CSS FOR SUB PAGES */
.title-subpage {
    /* width: 100%; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16em 0 8em 0;
    margin: auto;
    text-align: center;
    color: var(--my-black);
    animation-name: fadein-up;
    animation-duration: 2s;
}

@media ( max-width: 767px ) {
    .title-subpage {
        width: 100%;
        height: 50vh;
        padding: 24em 4em;
    }
}

#content {
    /* QUESTION: how can I add filter background drop to hero? */
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.project-title {
    text-transform: uppercase;
}

.img-wrapper {
    margin: 2em 0;
}

.work-story {
    margin: 8em 0;
}

.solid-view-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center;
}

.project-metadata {
    font-size: 0.75em;   /* 12px */
    line-height: 1.8;
    list-style: none;
    padding-left: 0.25em;
}

.work-story .one-half ul,
.work-story .one-third ul {
    font-size: 0.75em;   /* 12px */
    font-weight: 200;
    margin: 1em 0;
    padding-left: 1em;
    max-width: 38em;
    list-style-position: outside;
}

/* QUESTION: how can I make the image responsive in different sizes? */
/* @media ( min-width: 768px ) {
    .solid-view-sub {
        background-size: cover;
    }
} */

.solid-view-type {
    background-image: url(../work_01-typeandprotocol/img/typeandprotocol-hero-3300x2550.jpg);
}

.solid-view-hspl {
    background-image: url(../work_02-hspl/img/hspl-mock-hero-1600x900.jpg);
}

.solid-view-criminal {
    background-image: url(../work_03-criminalspinoff/img/criminal-hero.jpg);
}

.solid-view-fujita {
    background-image: url(../work_04-sneilfujita/img/fujita_hero_1920x1440.jpg);
}

/* TOGGLE NAV ---------- */ 
@media ( max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .site-nav .menu-button {
        display: inline-block;
        cursor: pointer;
        padding: .3em 0;
        margin: .8em 0;
        border: none;
        background: none;
    }
    .toggle-nav .site-nav .menu-button::selection {
        background: rgb(255 255 255 /0);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
        transition: all .4s ease-out;  /* .4s is the slowest */
    }
    .toggle-nav .site-nav a:hover {
        background: var(--my-green);
        color: var(--my-black);
    }
    .toggle-nav[data-navstate="closed"] ul {
        max-height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        max-height: 100vh;
        overflow: visible;
    }

    /* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgb(255 255 255 /0);
        padding: 0;
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: 0 .4em;
        margin: 0;
        color: rgb(0 0 0 /.8);
        font-size: 1.5em;
    }

    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }
}

/* FOR DEV PURPOSES ONLY */
/*  Small (Mobile) Screen => ( max-width: 768px )
    Midsize (Tablet) Screen =>  ( min-width: 768px )
    Large (Notebook) Screen => ( min-width: 1050px ) 
    Extra Large (Desktop) Screen 1250px + => ( min-width: 1250px)
*/

/* FOR DEV TESTING PURPOSES ONLY */
/* body *, *:before, *:after {
    background-color: rgba(0,0,0,.05) !important;
    background-image: none !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
}

img, svg, canvas, video, iframe {
    filter: grayscale(100%) brightness(0%) opacity(5%) !important;
    background-color: rgba(0,0,0,.05) !important;
    background-image: none !important;
} */
